* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgba(250, 250, 250, 0.767);
}


h1 {
    
    font-size: 2em;
    font-family:cursive;
    color:rgb(255, 255, 255);

}



header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: rgba(178, 39, 164, 0.8);;
  

}


.bi-list {
    color:white;
    font-size: 1.5em;
}




.nav-list {
    list-style-type: none;
    display: flex;

    gap: 1rem;
}

.nav-list li {
    margin-top:50px;
}
.nav-list li a {
    text-decoration: none;
    color: #ffffff;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

@media screen and (max-width: 845px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #1c1c1c;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1ce1;
        padding: 30px;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.482);
        transition: all .5s;
        z-index: 1;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ecececec;
    }

    .nav-list li:hover {

        text-align: center;
        min-width: 100%;
        padding: 20px;
        border-radius: 12px;
        background-color:rgba(178, 39, 164, 0.8) ;
        transition: all .5s;
    }



    #cerrar:hover{
        color:grey;
    
    }

    .portada {
        background: BLACK;
    }

    .portada img {
        max-width: 100%;
        opacity: 56%;
        
}

/*medias*/

.catalogo label img:hover {
    opacity: 70%;
    border: none;
    outline: 2px solid rgb(0, 0, 0);
    transition: all .5s;
    border-radius: 20px;
    
}


.catalogo {
    min-width: 303px;
    max-width: 343;
}

.catalogo .medias {

    display: flex;
    flex-wrap:wrap;
    margin-top:10%;
    justify-content: space-evenly;
    



}



.medias img {
    width: 193px;
    height: 180px;
    padding: 3px;
    outline: 1px solid rgb(185, 36, 185)


}




.bras {
    display: flex;
    flex-wrap:wrap;
    margin-top:10%;
    justify-content: space-evenly;
}

.bras img {

    width: 190px;
    height: 200px;
    padding: 3px;
    outline: 1px solid rgb(185, 36, 185)


}



/*ACCESORIOS*/


.acceesorios {
    display: flex;
    flex-wrap:wrap;
    margin-top:10%;
    justify-content: space-evenly;
    
}


.accesorios img {
  width: 190px;
    height: 200px;
    padding: 3px;
    outline: 1px solid rgb(185, 36, 185)


}


h2 {
    text-align: center;
    font-size: 1.5em;
    font-family: cursive;
}



}



@media only screen and (max-width:243px){
    .header {
        display: none;
    }

}